/* Ariel Chase
April 19th, 2024
CSS - Project One: Stylesheet
No CSS framework or template - no CSS normalize*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Elite&display=swap');

html {
  background-color: lightgrey;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: grey;
  text-align: center;
  border-style: solid;
  border-color: #847150;
  border-spacing: 5px;
  margin: 25px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  color: rgb(105,105,105);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-size: 80px;
}

h2 {
 font-family: "Special Elite", system-ui;
 font-weight: bold;
 font-style: normal;
 color: rgb(105,105,105);
 font-size: 32px;
 border-style: solid;
 border-color: grey;
 padding: 15px;
 display: inline-block;
}

span {
  display: inline-block; 
  vertical-align: middle; 
}

svg {
  width: 24px; 
  height: 24px; 
  fill: rgb(255,255,191); 
  margin-right: 5px;
}

a {
  color: #847150;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left; 
}

nav ul li {
  padding-left: 0;
}

ul li {
  list-style-type: circle;
  list-style-position: inside;
}

section li {
  list-style-position: inside;
}